/* BASIS ------------------------------------*/
:root {
  --primary-color: #6b006b;
  --secondary-color: #6bff6b;
  --secondary-color-semi: #6bff6b80;

  --display-font: "Almendra-Regular";
  --text-font: "Arial", Arial, sans-serif;
}

@font-face {
  font-family: "Almendra-Regular";
  src: url("../assets/fonts/Almendra-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

main {
  margin-bottom: 100px;
}

h1 {
  font-family: var(--display-font);
  line-height: 90%;
  margin-top: 30px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 5em;
}
h2 {
  font-family: var(--display-font);
  color: var(--secondary-color);
  text-align: center;
  font-size: 140%;
  line-height: 110%;
}

h3 {
  font-family: var(--display-font);
  color: var(--secondary-color);
  text-align: center;
  font-size: 140%;
  line-height: 110%;
}
h4 {
  font-family: var(--display-font);
  color: var(--secondary-color);
  text-align: center;
  font-size: 140%;
  line-height: 110%;
}

footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2%;
  width: 90%;
  background-color: var(--primary-color);
  padding: 1em;
  border-radius: 999px;
  box-shadow:
    0 0 5px var(--secondary-color),
    0 0 10px var(--secondary-color),
    0 0 50px var(--secondary-color);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
nav img {
  width: 10%; /* kleiner, relativ zum nav */
  min-width: 2em; /* nie zu klein */
  height: auto;
}
