/* BASIS ------------------------------------*/
:root {
  --primary-color: #6b006b;
  --secondary-color: #6bff6b;
  --secondary-color-semi: #6bff6b80;

  --display-font: "Almendra-Regular";
  --text-font: "Arial", Arial, sans-serif;
}

@font-face {
  font-family: "Almendra-Regular";
  src: url("../assets/fonts/Almendra-Regular.woff") format("woff");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;

  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;
}

main {
  margin-bottom: 100px;
}

h1 {
  font-family: var(--display-font);
  line-height: 90%;
  margin-top: 30px;
  color: var(--secondary-color);
  text-align: center;
  font-size: 5em;
}
h2 {
  font-family: var(--display-font);
  color: var(--secondary-color);
  text-align: center;
  font-size: 140%;
  line-height: 110%;
}
footer {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
  width: 90%;
  background-color: var(--primary-color);
  padding: 1em;
  border-radius: 999px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2em;
}
nav img {
  width: 40px;
  height: 40px;
}
