body {
  background-color: var(--secondary-color);
  margin-bottom: 10em;
}

article {
  background-color: var(--primary-color);
  width: 90%;
  height: vh;
  margin: 0 auto;
  margin-top: 20px;
  border-radius: 30px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

h1 {
  color: var(--primary-color);
}

h2 {
  font-family: var(--display-font);
  color: var(--secondary-color);
  font-size: 2em;
  margin: 5px;
}

.knoepfe {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  width: 30%;
  height: 30px;
  border-radius: 50px;
  margin-top: 30px;
  background-color: var(--secondary-color);
}

.schalter {
  width: 30%;
  height: 30px;
  border-radius: 50px;
  margin-top: 30px;
  background-color: var(--secondary-color);
}

h3 {
  font-family: var(--display-font);
  color: var(--secondary-color);
}

p {
  font-family: var(--text-font);
  color: var(--secondary-color);
  text-align: center;
}
.profilbid {
  width: 40%;
  border-radius: 100%;
  align-self: center;
  margin: 1em;
}
